<div id="tweet-{-id_str}" x-mojo-tap-highlight='immediate' class="status-row">
	<div class="palm-row-wrapper row-wrapper">
		<table width="100%" border="0">
			<tr>
				<!--td valign="top" width="40"-->
				<td valign="top" class="convo-item">
					<div class="tweet-avatar" style="background-image: url(#{-user.profile_image_url});"></div>
				</td>
				<td>
					<div class="content-wrapper">
						<div class='tweet-username'>#{-user.name}</div>
						<div class='tweet-screenname'>@#{-user.screen_name}
							<img class="locked #{-user.protected}" src="images/low/icons/locked_darker.png" alt="..." width="12" height="12"/>
						</div>
						<div class='tweet-text'>#{-full_text}</div>
						<div id="thumb-wrapper">
							<div class="timeline conversation #{-thumb_class}">
								<div class="inline-thumb">
									<img src=#{-thumbnail} alt="..."/>
									<img class="inline-thumb2 #{-thumb2_class}" src=#{-thumbnail2} alt="..."/>
								</div>
							</div>
						</div>
						<div class='tweet-footer'>
							<span class="tweet-time">#{-time_str}</span>
							<span class="tweet-time-abs">#{-displayed_time_str}</span>
							<span class='tweet-via'>#{-via} #{-source}</span>
							<div class='tweet-has-emoji #{-emoji_class}'>☺</div>
							#{-footer}
						</div>
						<div style="clear:both"></div>				
						<div id="quote-wrapper" x-mojo-tap-highlight='immediate' class="tweet-quote-wrapper #{-quote_class}">
							<div id="quote-avatar" class="tweet-avatar #{-quote_class} quote" style="background-image: url(#{-quoted_status.user.profile_image_url});"></div>
							<div id="quote-username" class="tweet-quote-username">#{-quoted_status.user.name}</div>
							<div id="quote-screenname" class="tweet-quote-screenname #{-quote_class}">@#{-quoted_status.user.screen_name}</div>
							<div id="quote-text" class="tweet-quote timeline">#{-quoted_status.full_text}</div>
							<div id="thumb-wrapper">
								<div class="timeline #{-quoted_status.thumb_class_timeline}">
									<div class="inline-thumb">
										<img id="quote-thumbnail" src=#{-quoted_status.thumbnail} alt="..."/>
										<img id="quote-thumbnail2" class="inline-thumb2 #{-quoted_status.thumb2_class_timeline}" src=#{-quoted_status.thumbnail2} alt="..."/>
									</div>
								</div>
							</div>
							<div class="tweet-quote-footer">
								<span id="quote-time" class="tweet-time">#{-quoted_status.time_str}</span>
								<span id="quote-time-abs" class="tweet-time-abs">#{-quoted_status.displayed_time_str}</span>
								<span id="quote-via" class="tweet-quote-via">#{-quoted_status.via} #{-quoted_status.source}</span>
								<div id="quote-has-emoji" class="tweet-has-emoji #{-quoted_status.emoji_class}">☺</div>
								<div id="quote-rt-avatar" class="tweet-avatar #{-quoted_status.rt_class} retweet" style="background-image: url(#{-quoted_status.retweeter.profile_image_url});"></div>
								#{-quote.footer}
							</div>					
						</div>						
						</div>					
					<div style="clear:both"></div>
				</td>
			</tr>
		</table>
	</div>
</div>
