<div class="palm-row-wrapper">
	<table width="100%" border="0">
		<tr>
	   	<td valign="top" width="40">
	     	<div id="user-avatar" class="tweet-avatar details" style="background-image: url(#{-user.profile_image_url});"></div>
				<div id="rt-#{-toasterId}" class="rt-wrapper"><span class="rt-button #{-rt_class}" x-mojo-tap-highlight="immediate">#{-retweet_count}</span></div>
	    </td>
	    <td>
	     	<div class="content-wrapper">
	     		<div class="dmDir">#{-dir}</div>
					<div class='tweet-username'>#{-user.name}</div>
					<div class='tweet-screenname'>@#{-user.screen_name}</div>
					<div class="tweet-favstar #{-fav_class}">★</div>
					<div class="tweet-text details">#{-text}</div>
					<div id="thumb-wrapper">
						<!--div id="thumb-#{-toasterId}" class="inline-thumb #{-thumb_class} inline-thumb-large" x-mojo-tap-highlight="immediate" style="background-image: url(#{-thumbnail});"></div-->
						<!--div id="thumb-#{-toasterId}" class="inline-thumb details #{-thumb_class} inline-thumb-large #{-thumb_type}" x-mojo-tap-highlight="immediate"><img id="thumb" src=#{-thumbnail} alt="..."/></div-->	
						<div id="thumb-#{-toasterId}" 
							<div class="inline-thumb details #{-thumb_class} inline-thumb-large #{-thumb_type}" x-mojo-tap-highlight="immediate">
								<!--img id="thumb" src=#{-thumbnail} alt="..."/>
								<img class="thumb2 #{-thumb2_class}" id="thumb" src=#{-thumbnail2} alt="..."/-->
								<img src=#{-thumbnail} alt="..."/>
								<img class="thumb2 #{-thumb2_class}" src=#{-thumbnail2} alt="..."/>
							</div>
					</div>
					<div class="tweet-footer">#{-time_str} (#{-time_tweeted}) #{-via} #{-source}</div>
				</div> 
	    </td>
	   </tr>
	</table>
</div>
