<div class="item-row #{-cssClass}">
	<div id="tweet-#{-id_str}" x-mojo-tap-highlight='immediate' class="status-row">
		<div class="palm-row-wrapper row-wrapper">
			<!--div class="tweet-avatar show" style="background-image: url(#{-user.profile_image_url});"></div-->
			<div class="tweet-avatar" style="background-image: url(#{-user.profile_image_url});"></div>

			<div class="content-wrapper">
				<div class="dmDir">#{-dir}</div>
				<div class='tweet-username'>#{-user.name}</div>
				<div class='tweet-screenname'>@#{-user.screen_name}
					<img class="locked #{-user.protected}" src="images/low/icons/locked_darker.png" alt="..." width="12" height="12"/>
				</div>
				<div class="tweet-favstar #{-fav_class}">★</div>
				<div class='tweet-text timeline'>#{-text}</div>

				<div id="thumb-wrapper">
					<!--div class='inline-thumb #{-thumb_class}' style="background-image: url(#{-thumbnail});"></div-->
					<!--div class="inline-thumb timeline #{-thumb_class}"><img src=#{-thumbnail} alt="..."/></div-->
					<!--div class="timeline #{-thumb_class}"><img class="inline-thumb" src=#{-thumbnail} alt="..."/></div-->
					<div class="timeline #{-thumb_class}">
						<div class="inline-thumb">
							<img src=#{-thumbnail} alt="..."/>
							<img class="inline-thumb2 #{-thumb2_class}" src=#{-thumbnail2} alt="..."/>
						</div>
					</div>
				</div>

				<div class='tweet-footer'>
					<span class="tweet-time">#{-time_str}</span>
					<span class='tweet-via'>#{-via} #{-source}</span>
					<div class='tweet-has-emoji #{-emoji_class}'>☺</div>
					<div class="tweet-avatar #{-rt_class} retweet" style="background-image: url(#{-retweeter.profile_image_url});"></div>
					#{-footer}
				</div>
			</div>
			<div style="clear:both"></div>
		</div>
	</div>
	<div id="gap" class="new-indicator" x-mojo-tap-highlight="immediate">#{-dividerMessage}</div>
</div>
