<div id="tweet-{-id_str}" x-mojo-tap-highlight='immediate' class="status-row #{-cssClass}">
	<div class="palm-row-wrapper row-wrapper">
		<div class="tweet-avatar" style="background-image: url(#{profile_image_url});"></div>
		<div class="content-wrapper">
			<div class='tweet-username'>#{-from_user_name}</div>
			<div class='tweet-screenname'>@#{-from_user}</div>
			<div class='tweet-text'>#{-text}</div>
			<div id="thumb-wrapper">
				<div class="searchTimeline #{-thumb_class}">
					<div class="inline-thumb">
						<img src=#{-thumbnail} alt="..."/>
						<img class="inline-thumb2 #{-thumb2_class}" src=#{-thumbnail2} alt="..."/>
					</div>
				</div>
			</div>
			<div class='tweet-footer'>
				<span class="top-tweet">#{-toptweet}</span>
				<span class="tweet-time">#{-time_str}</span>
				<div class='tweet-has-emoji #{-emoji_class}'>☺</div>
			</div>
		</div>
	<div style="clear:both"></div>
	</div>
	<div class="new-indicator">#{-dividerMessage}</div>
</div>
