<!--
	This scene doesn't actually handle compose, it is just used to open the
	compose toaster (when composing in a new card).

	You probably want to look there instead of here to make changes to compose.
-->

<div id="scene-wrapper">
	<div id="shadow"></div>
	<div id="scene-container"></div>
</div>

<div id="toasters" class="compose-card">
	<!-- Toaster pop-ups are contained in here -->
</div>

<div id="shim" class="ignore">
	<!-- This is a dark shim that covers the content underneath toasters -->
</div>

