<div class="compose-wrapper">
		<div id="dm-#{-toasterId}" class="dm-title">Direct message to @#{-to}</div>
		<div class="compose-txt">
			<div id="count" class="counter">140</div>
			<textarea id="txtCompose" spellcheck="true"></textarea>
		</div>
	</div>
	<div class="compose-opts">
		<div class="compose-opts-wrapper" align="center">
			<div id="submit" class="compose-submit" x-mojo-tap-highlight="immediate">Post Tweet</div>
			<div id="cancel" class="compose-cancel" x-mojo-tap-highlight="immediate">Cancel</div>
			<div id="photo" class="compose-button photo" x-mojo-tap-highlight="immediate"></div>
			<div id="geotag" class="compose-button geotag" x-mojo-tap-highlight="immediate"></div>
			<div id="link" class="compose-button link" x-mojo-tap-highlight="immediate"></div>

			<div style="clear:both"></div>
	</div>
</div>
