<div class="user-row" x-mojo-tap-highlight="immediate">
	<div class="row-wrapper">
		<div class="user-avatar" style="background: url(#{-profile_image_url})"></div>
		<div class="user-details">
			<div class="user-name">@#{-screen_name}
				<img class="locked #{-protected}" src="images/low/icons/locked.png" alt="..." width="12" height="12"/>
			</div>
			<div class="user-meta">#{friends_count} following / #{-followers_count} followers</div>
		</div>
		<div style="clear: both"></div>
	</div>
</div>