body.default {
	background: url('../images/low/scene-top.png') left top repeat-x,url(../images/low/themes/pure/bg.png) no-repeat left top;
	background-size: 100%;
}

.header-title {
	color: #94989c;
}

#header {
	background: url('../images/low/themes/ash/header-bar.png') left -25px repeat-x;
}
#nav-bar-scroller {
	background: url(../images/low/themes/ash/nav-bar.png) left bottom repeat-x;
}

/* navbar and header are swapped on the touchpad */
.large-device #header {
	background: url('../images/low/themes/ash/nav-bar.png') left -22px repeat-x;
}
.large-device #nav-bar-scroller {
	background: url(../images/low/themes/ash/header-bar.png) left 3px repeat-x;
}



.beacon {
	background: url('../images/low/new-content.png') center bottom no-repeat;
}
#indicator {
	background: url(../images/low/themes/ash/indicator.png) center center no-repeat;
}
.status-row, .user-row{
	color: #444;
}
.status-row a{
	color: #666;
}
.tweet-footer{
	color: #666;
}
.rt-button {
	color: #444;
}
.panel-list-title {
	color: #444;
}
.search-list-item {
	color: #444;
}
.top-tweet {
	color: #333;
}


.toaster .status-row, .user-row{
	color: #d2d2d2;
}
.toaster .status-row a{
	color: #bbb;
}
.toaster .tweet-footer{
	color: #bbb;
}
.toaster .rt-button {
	color: #d2d2d2;
}
.toaster .panel-list-title {
	color: #d2d2d2;
}
.toaster .search-list-item {
	color: #d2d2d2;
}
.toaster .top-tweet {
	color: #f8f9b5;
}

#success-scene{
	color: #fff;
}
.toaster-title{
	color: #d2d2d2;
	background: url('../images/low/title-bg.png') left bottom repeat-x;
}
/* Toasters */
.toaster {
	background: url('../images/low/themes/ash/toaster-bg.png') left top repeat-x;
	color: #d2d2d2;
}
.toaster.compose {
	background: url('../images/low/themes/ash/compose-bg.png') left top repeat-x;
}
.toaster-controls {
	background: url('../images/low/toaster-controls.png') left top repeat-x;
}
.dm-title {
	color: #d2d2d2;
}
.compose-txt {
	-webkit-border-image: url('../images/low/textarea-border.png') 12 stretch;
}
.compose-txt textarea{
	color: #fff;
}
.compose-txt .counter {
	color: #4d5154;
}
.compose-opts {
/*	background: url('../images/low/compose-opts-bg.png') left top repeat-x;*/
}

.scene-title {
	color: #222;
}
.section-header span {
	color: #d2d2d2;
}
.pref-row-wrapper .title {
	color: #d2d2d2;
}
.profile-title-wrapper {
	color: #d2d2d2;
}
#verified span{
	color: #d2d2d2;
}

#profile-header,
.section-header {
	background: #333;
}

.section-items {
	background: #444
}

.new-indicator {
	color: #666;
}

#txtSearch, .searchbox {
	color: #666 !important;
}

