body.default {
	background: url('../images/low/scene-top.png') left top repeat-x,url(../images/low/themes/sunnyvale/bg.png) no-repeat left top;
	background-size: 100%;
}

.header-title {
	color: #94989c;
}

#header {
	background: url('../images/low/themes/sunnyvale/header-bar.png') left -25px repeat-x;
}
#nav-bar-scroller {
	background: url(../images/low/themes/sunnyvale/nav-bar.png) left bottom repeat-x;
}

.layout-swapped #header {
	background: url('../images/low/themes/sunnyvale/nav-bar.png') left 5px repeat-x;
}
.layout-swapped #nav-bar-scroller {
	background: url(../images/low/themes/sunnyvale/header-bar.png) left 3px repeat-x;
}



#indicator {
	background: url(../images/low/themes/sunnyvale/indicator.png) center center no-repeat;
}

.layout-swapped #indicator {
	background: url(../images/low/themes/sunnyvale/indicator-down.png) center center no-repeat;
}


.status-row, .user-row{
	color: #444;
}
.status-row a{
	color: #666;
}
.tweet-footer,
.tweet-username,
.tweet-screenname {
	color: #777;
}
.rt-button {
	color: #444;
}
.panel-list-title {
	color: #444;
}
.search-list-item {
	color: #444;
}
.top-tweet {
	color: #333;
}


.toaster .status-row, .user-row{
	color: #d2d2d2;
}
.toaster .status-row a{
	color: #bbb;
}
.toaster .tweet-footer{
	color: #bbb;
}
.toaster .rt-button {
	color: #d2d2d2;
}
.toaster .panel-list-title {
	color: #d2d2d2;
}
.toaster .search-list-item {
	color: #d2d2d2;
}
.toaster .top-tweet {
	color: #f8f9b5;
}

#success-scene{
	color: #fff;
}
.toaster-title{
	color: #d2d2d2;
	background: url('../images/low/title-bg.png') left bottom repeat-x;
}
/* Toasters */
.toaster {
	background: url('../images/low/themes/sunnyvale/toaster-bg.png') left top repeat-x;
	color: #d2d2d2;
}
.toaster.compose {
	background: url('../images/low/themes/sunnyvale/compose-bg.png') left top repeat-x;
}
.toaster-controls {
	background: url('../images/low/toaster-controls.png') left top repeat-x;
}
.dm-title {
	color: #d2d2d2;
}
.compose-txt {
	-webkit-border-image: url('../images/low/textarea-border.png') 12 stretch;
}
.compose-txt textarea,
.search-box textarea {
	color: #fff;
}
.compose-txt .counter {
	color: #4d5154;
}
.compose-opts {
/*	background: url('../images/low/compose-opts-bg.png') left top repeat-x;*/
}

.scene-title {
	color: white;
}
.section-header span {
	color: white;
}
.section-large-header span {
	background: #333;
	color: white;
}
.pref-row-wrapper .title {
	color: #d2d2d2;
}
.profile-title-wrapper {
	color: #d2d2d2;
}
#verified span{
	color: #d2d2d2;
}

#profile-header,
.section-header {
	background: #333;
}

.section-items {
	background: #444
}

.new-indicator {
	color: #666;
}

#about-body {
	text-align: center;
	font-size: 12px;
	color: #4D4D4D;
	font-family: "Prelude";
}

a:link {
	color: #4D4D4D;
	text-decoration:underline;
	font-weight:900;
}

#about-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 11px;
	color: #4D4D4D;
	text-align: center;
	padding-bottom: 10px;
}

#txtSearch, .searchbox, #about-body {
	color: #666 !important;
}

.tweet-has-emoji{
	color: #777;
}
.dmDir {
	color: #777;
}

