<div id="toaster-#{-toasterId}" class="toaster">
	<div class="toaster-wrapper">
		<div align="center" style="font-weight: bold">Add Filter</div>
		<div class="search-wrapper2">
			<div class="search-box user">
				<textarea id="txtFilter-#{-toasterId}" class="searchbox" rows="1"></textarea>
				<textarea id="txtFilter-#{-toasterId}" class="searchbox" rows="1"></textarea>
			</div>
		</div>
	</div>
	<div class="toaster-controls" align="center">
		<div id="save-#{-toasterId}" class="compose-submit" x-mojo-tap-highlight="immediate">Save</div>
		<div id="back-#{-toasterId}" class="compose-cancel" x-mojo-tap-highlight="immediate">Cancel</div>
	</div>
</div>
