<div id="toaster-#{-toasterId}" class="toaster compose">
	<div id="complete-bar-#{-toasterId}" class="complete-bar"></div>
	<div class="compose-wrapper">
		<div id="dm-#{-toasterId}" class="dm-title">Direct message to @#{-to}</div>
		<div class="compose-txt">
			<div id="count-#{-toasterId}" class="counter">140</div>
			<textarea id="txtCompose-#{-toasterId}" spellcheck="true"></textarea>
		</div>
	</div>
	<div class="compose-opts">
		<div class="compose-opts-wrapper" align="center">
			<div id="submit-#{-toasterId}" class="compose-submit" x-mojo-tap-highlight="immediate">Post Tweet</div>
			<div id="cancel-#{-toasterId}" class="compose-cancel" x-mojo-tap-highlight="immediate">Cancel</div>
			<div id="photo-#{-toasterId}" class="compose-button photo" x-mojo-tap-highlight="immediate"></div>
			<div id="geotag-#{-toasterId}" class="compose-button geotag" x-mojo-tap-highlight="immediate"></div>
			<div id="link-#{-toasterId}" class="compose-button link" x-mojo-tap-highlight="immediate"></div>

			<div style="clear:both"></div>
		</div>
	</div>
</div>
