<div id="toaster-#{-toasterId}" class="toaster login">
	<div id="complete-bar-#{-toasterId}" class="complete-bar"></div>
	<div class="compose-wrapper">
		<div class="login-txt">
			<textarea id="txtLogin-#{-toasterId}" spellcheck="true"></textarea>
		</div>
	</div>
	<div class="compose-opts">
		<div class="compose-opts-wrapper" align="center">
			<div id="submit-#{-toasterId}" class="compose-submit" x-mojo-tap-highlight="immediate">Login</div>
			<div id="cancel-#{-toasterId}" class="compose-cancel" x-mojo-tap-highlight="immediate">Cancel</div>

			<div style="clear:both"></div>
		</div>
	</div>
</div>
