<div class="palm-group">
	<div class="palm-group-title">
		Read It Later
	</div>
	<div class="palm-list">
		<div class="palm-row first" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div class="label">Username</div> 
					<div x-mojo-element="TextField" id="rilUserFieldId"></div>
				</div>
			</div>
		</div>
		<div class="palm-row last" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div class="label">Password</div> 
					<div x-mojo-element="PasswordField" id="rilPassFieldId"></div>
				</div>
			</div>
		</div>
		<div id="loginRil" x-mojo-element="Button"></div>
	</div>
</div>
<div class="palm-group" label="InstaPaper">
	<div class="palm-group-title">
		InstaPaper
	</div>
	<div class="palm-list">
		<div class="palm-row first" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div class="label">Username</div> 
					<div x-mojo-element="TextField" id="ippUserFieldId"></div>
				</div>
			</div>
		</div>
		<div class="palm-row last" x-mojo-tap-highlight="momentary">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div class="label">Password</div> 
					<div x-mojo-element="PasswordField" id="ippPassFieldId"></div>
				</div>
			</div>
			<div id="loginIp" x-mojo-element="Button"></div>
		</div>
	</div>
</div>
<div id="back" x-mojo-element="Button"></div>