<div id="success-scene" class="palm-dark">
	<div class="scene-title">Welcome to <strong>Project Macaw</strong> :)</div>
	<div class="section-header">
		<div class="myaccount-button-wrapper">
			<div id="next-button" x-mojo-tap-highlight="immediate" class="button signin">Open my account</div>
		</div>
	</div>
	<div class="panel-list-wrapper showAvatar">
		<div class="panel-list">
			<div id="phnxapp" class="search-list-item first" x-mojo-tap-highlight="immediate">
				<table width="100%" border="0">
				    <tr>
				        <td valign="top" width="40">
				        	<div class="tweet-avatar" style="background-image: url(https://api.twitter.com/1/users/profile_image/phnxapp.json?size=bigger);"></div>
				        </td>
				        <td>
				        	<!-- changed from "content-wrapper" to "content-wrapper-no-avatar" to align text properly-->
				        	<div class="content-wrapper-no-avatar">
					        	<div class='tweet-username'>phnxapp</div>
								<div class='tweet-text success'>The official phnx Twitter account.</div>
							</div>
				        </td>
				    </tr>
				</table>
			</div>
			<div id="ProjectMacaw" class="search-list-item" x-mojo-tap-highlight="immediate">
				<table width="100%" border="0">
				    <tr>
				        <td valign="top" width="40">
				        	<div class="tweet-avatar" style="background-image: url(https://api.twitter.com/1/users/profile_image/projectmacaw.json?size=bigger);"></div>
				        </td>
				        <td>
				        	<!-- changed from "content-wrapper" to "content-wrapper-no-avatar" to align text properly-->
				        	<div class="content-wrapper-no-avatar">
					        	<div class='tweet-username'>Project Macaw</div>
								<div class='tweet-text success'>The official Project Macaw Twitter account.</div>
							</div>
				        </td>
				    </tr>
				</table>
			</div>
			<div id="rmxdave" class="search-list-item" x-mojo-tap-highlight="immediate">
				<table width="100%" border="0">
				    <tr>
				        <td valign="top" width="40">
				        	<div class="tweet-avatar" style="background-image: url(https://api.twitter.com/1/users/profile_image/rmxdave.json?size=bigger);"></div>
				        </td>
				        <td>
				        	<!-- changed from "content-wrapper" to "content-wrapper-no-avatar" to align text properly-->
				        	<div class="content-wrapper-no-avatar">
					        	<div class='tweet-username'>rmxdave</div>
								<div class='tweet-text success'>The developer of phnx &amp; a pretty decent guy.</div>
							</div>
				        </td>
				    </tr>
				</table>
			</div>
			<div id="_minego" class="search-list-item" x-mojo-tap-highlight="immediate">
				<table width="100%" border="0">
				    <tr>
				        <td valign="top" width="40">
				        	<div class="tweet-avatar" style="background-image: url(https://api.twitter.com/1/users/profile_image/_minego.json?size=bigger);"></div>
				        </td>
				        <td>
				        	<!-- changed from "content-wrapper" to "content-wrapper-no-avatar" to align text properly-->
				        	<div class="content-wrapper-no-avatar">
					        	<div class='tweet-username'>_minego</div>
								<div class='tweet-text success'>Project Macaw Lead</div>
							</div>
				        </td>
				    </tr>
				</table>
			</div>
			<div id="awesomeapps_" class="search-list-item" x-mojo-tap-highlight="immediate">
				<table width="100%" border="0">
				    <tr>
				        <td valign="top" width="40">
				        	<div class="tweet-avatar" style="background-image: url(https://api.twitter.com/1/users/profile_image/awesomeapps_.json?size=bigger);"></div>
				        </td>
				        <td>
				        	<!-- changed from "content-wrapper" to "content-wrapper-no-avatar" to align text properly-->
				        	<div class="content-wrapper-no-avatar">
					        	<div class='tweet-username'>awesomeapps_</div>
								<div class='tweet-text success'>Project Macaw contributor</div>
							</div>
				        </td>
				    </tr>
				</table>
			</div>
			<div id="penduin" class="search-list-item last" x-mojo-tap-highlight="immediate">
				<table width="100%" border="0">
				    <tr>
				        <td valign="top" width="40">
				        	<div class="tweet-avatar" style="background-image: url(https://api.twitter.com/1/users/profile_image/penduin.json?size=bigger);"></div>
				        </td>
				        <td>
				        	<!-- changed from "content-wrapper" to "content-wrapper-no-avatar" to align text properly-->
				        	<div class="content-wrapper-no-avatar">
					        	<div class='tweet-username'>penduin</div>
								<div class='tweet-text success'>Project Macaw contributor</div>
							</div>
				        </td>
				    </tr>
				</table>
			</div>
			<div id="baldric555" class="search-list-item last" x-mojo-tap-highlight="immediate">
				<table width="100%" border="0">
				    <tr>
				        <td valign="top" width="40">
				        	<div class="tweet-avatar" style="background-image: url(https://api.twitter.com/1/users/profile_image/baldric555.json?size=bigger);"></div>
				        </td>
				        <td>
				        	<!-- changed from "content-wrapper" to "content-wrapper-no-avatar" to align text properly-->
				        	<div class="content-wrapper-no-avatar">
					        	<div class='tweet-username'>baldric555</div>
								<div class='tweet-text success'>Project Macaw contributor</div>
							</div>
				        </td>
				    </tr>
				</table>
			</div>
		</div>
	</div>
</div>
