<div class="close-button-wrapper photo">
	<div id="close-button" style="margin-top: -8px;" x-mojo-tap-highlight="immediate"></div>
</div>
<div id="about-logo"></div>

<div id="about-body">
	<p>
		Designed and developed <br />
		by <strong id="@rmxdave">@rmxdave</strong>
	</p>
	<p>
		Additional features and TouchPad port <br />
		by <strong id="@_minego">@_minego</strong>,<br />
		<strong id="@penduin">@penduin</strong> &amp;
		<strong id="@awesomeapps_">@awesomeapps_</strong>
	</p>
	<p id="cow-tipping">
		Made with 100% real Wisconsin cheese
	</p>
	<p id="series-of-tubes">
		phnxapp.com
	</p>
</div>

<div id="about-footer">
	&copy; 2011 David Strack &bull; v<span id="version"></span>
</div>
